[submodule "skills/vibe-coding-new-project"]
	path = skills/vibe-coding-new-project
	url = https://github.com/beyondOurself/vibe-coding-new-project.git
[submodule "skills/frontend-code-standards"]
	path = skills/frontend-code-standards
	url = git@github.com:beyondOurself/frontend-code-standards.git
